@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cache Testing";
}

<div class="text-center">
    <h1 class="display-4">Cache Testing</h1>
</div>

<div>
    Cache Data:
    <p>
        <form method="post">
            <input asp-for="IndexData.Message" />
            <input type="submit" />
        </form>
    </p>
</div>